@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}

.container {
    background-color: #ff475669;
    width: 65%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container .player-box {
    flex-basis: 50%;
    text-align: center;
    padding: 4rem;
    transition: .4s;
    opacity: .7;
}


.player-box.active {
    background-color: rgb(230, 116, 133);
    opacity: 1;
}

.player-box.winner {
    background-color: #333;
    color: #fff;
}

.container h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.container .totalscore {
    font-size: 3rem;
    font-weight: bold;
    color: #ad0633;
    margin-bottom: 6rem;
}

.container .currentscore {
    background-color: #e71232;
    color: #fff;
    width: 70%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}

.container .currentscore span {
    font-size: 30px;
}


.container .btns-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    font-weight: bold;
    padding: 1rem 0 4rem;
}


.container .btns-box button {
    border: none;
    display: block;
    background-color: #ffffff;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .4s;
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.75);
    margin: 0 auto;
    opacity: .7;
}

.container .btns-box button:hover {
    opacity: 1;
}


.container .btns-box .bottom-btns-box button:nth-child(1) {
    margin-bottom: 25px;
}

.container .btns-box button:active {
    transform: translateY(5px);
}



.container .dice-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.75);
    display: none;
}


.container .dice-image.show-dice-image {
    display: block;
}

.container .dice-image img {
    max-width: 100%;
    max-height: 100%;
}


.container .dice-image.show-dice {
    display: block;
}



@media(max-width : 870px) {
    .container {
        flex-direction: column;
        width: 90%;
        margin: 1rem;
    }

    .container .player-box {
        width: 100%;
    }

    .container .btns-box {
        flex-direction: row;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        justify-content: center;
        left: 0;
        padding: 0;
        gap: 15px;
        flex-wrap: wrap;
    }

    .container .btns-box .bottom-btns-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .container .btns-box .bottom-btns-box button:nth-child(1),
    .container .btns-box button {
        margin: 0;
    }
}